@import "frontend/src/scss/colors";
@import "frontend/src/scss/fonts";

.invitePopup {
  position: fixed;
  min-height: 296px;
  width: 530px;
  padding: 20px;
  z-index: 2;
  background: white;
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 30px;
  border-radius: 5px;
}

.invitePopup__wrapper {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: grid;
  align-items: center;
  justify-items: center;
  z-index: 1;
}

.invitePopup__background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.invitePopup__title {
  font-family: $font_lack;
  color: $text;
  font-size: 24px;
}

.invitePopup__header {
  display: grid;
  grid-template-columns: auto min-content;
  align-items: start;
  width: auto;
}

.invitePopup__closeIcon {
  justify-self: end;
  cursor: pointer;
}

.invitePopup__content {
  width: auto;
  display: grid;
  grid-gap: 27px;
}

.invitePopup__addButton {
  grid-row: 1;
  justify-self: end;

  .button__label {
    font-size: 18px;
  }
}

.invitePopup__input {
  grid-row: 1;
  grid-column: 1/3;
}

.invitePopup__inviteList {
  grid-row: 3;
  padding-right: 11px;
  grid-column: 1/3;
  max-height: 106px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.invitePopup__emptyList {
  width: 100%;
  font-family: $font_lack;
  font-size: 16px;
  text-align: center;
  color: $text;
  height: 32px;
}

.invitePopup__inviteButton {
  grid-column: 2;
  grid-row: 4;
  justify-self: end;

  .button__label {
    font-size: 18px;
  }
}
.invitePopup__importButton {
  grid-column: 1/3;
  max-width: 232px;
}