/**
 * @author: Jake Hobbs
 */

@import "frontend/src/scss/colors";
@import "frontend/src/scss/fonts";

// Initialise flex container.
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: $background;
  justify-content: center;
  color: $text;
}

// Two flex items.

// Half page.
.flex-item-half {
  justify-content: center;
  background-color: #FFFFFF;
  width: 45%;
  padding: 10px;
  margin: 15px;
  text-align: center;
  border-radius: 15px;
  font-family: $font_sanspro_bold;
}

// Half page, adapted for tasks complete stat.
.flex-item-half-stat {
  justify-content: center;
  background-color: #FFFFFF;
  width: 45%;
  padding: 10px;
  margin: 15px;
  text-align: center;
  border-radius: 15px;
  font-size: 35px !important;
  font-family: $font_sanspro_bold;
}

// Full page.
.flex-item-full {
  background-color: #FFFFFF;
  width: 95%;
  padding: 5px;
  margin: 15px;
  text-align: center;
  border-radius: 15px;
  font-family: $font_sanspro;
  color: $text;
}
