@import "../colors";
@import "../fonts";

.confidenceCard {
  width: 486px - 120px;
  height: 456px - 60px;
  padding: 30px 60px;
  background: white;
  border-radius: 15px;
  display: grid;
  align-content: space-between;
}

.confidenceCard__title {
  font-size: 24px;
  color: $text;
  font-family: $font_lack;
  text-align: center;
}

.confidenceCard__submitButton.button--secondary {
  box-sizing: border-box;
  justify-self: center;

  .button__label {
    color: $text;
  }

  border-color: $text;
  border-radius: 5px;
}

.confidenceCard__submitButton.button--secondary--done {
  background-color: $text;

  .button__label {
    color: white;
  }
}

.confidenceCard__selectedOption {
  padding: 10px;
  border: solid 3px $blue;
  justify-self: center;
  border-radius: 5px;
  color: $blue;
  font-family: $font_sanspro_semibold;
  font-size: 18px;
  width: 180px;
  text-align: center;
  opacity: 0.5;
}
