@import "colors";
@import "fonts";
.app {
<<<<<<<<< Temporary merge branch 1
  padding-top:100px;
=========
>>>>>>>>> Temporary merge branch 2
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  row-gap: 50px;
}
body {
  background: $background;
  .ps__thumb-y {
    background-color: $text !important;;
    width: 6px !important;
    opacity: 0.75 !important;
    right: 0;
    border-radius: 6px;
  }
  .ps--active-x > .ps__rail-x, .ps--active-y > .ps__rail-y {
    background-color: $background;
    opacity: 1 !important;
    width: 6px;
    border-radius: 6px;
  }
  .Toastify__toast-body {
    padding-left: 10px;
    font-family: $font_sanspro_semibold;
  }
  .Toastify__toast--success {
    background: $green_strong;
  }
  .Toastify__toast--error {
    background: $red_strong;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: $background;
  justify-content: center;
}

.flex-item-half {
  justify-content: center;
  background-color: #FFFFFF;
  width: 45%;
  padding: 10px;
  margin: 15px;
  text-align: -moz-left;
  font-size: 30px;
  border-radius: 15px;
}

.flex-item-full {
  background-color: #FFFFFF;
  width: 95%;
  padding: 5px;
  margin: 15px;
  text-align: center;
  line-height: 75px;
  border-radius: 15px;
}

