@import "colors";
@import "fonts";

.dropdown{
  position: relative;
  display: inline-block;


}
.dropbtn {
  color: #475356;
  font-family: $font_sanspro_semibold;
  font-size: 20px;
  background-color: white;
  width: 100px;
  height: 61px;
  border: none;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
  outline: none;
}
.dropbtn-2{
  border: none;
  cursor: pointer;
  background-color: white;
  outline: none;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
  top: 64px;
  right: 2px;
  width: 151px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown-content a {
  color: $text_secondary;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: $font_sanspro_semibold;
}

.dropdown-content a:hover {
  background-color: $background;
  color: $text;
  border-radius: 4px;
  align-items: center;

}

.dropdown:hover .dropdown-content {
  display: block;
}