@import "colors";
@import "fonts";

.menuBase{
    width: auto;
    height: 61px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 151px auto;
    column-gap: 10px;
    z-index: 2;
    top: 20px;
    position: sticky;

}

.navDropdown{
    background: white;
    border-radius: 3.54167px;

}

.navMainMenu{
    background: white;
    border-radius: 5px;


}