@import "colors";
@import "fonts";

$animate: all 0.2s ease-in-out;

.menuBase{
    width: auto;
    height: 61px;
    display: grid;
    grid-template-columns: 151px auto;
    column-gap: 10px;
    z-index: 2;
    top: 20px;
    position: sticky;

}

.navDropdown{
    background: white;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto 20px;
    align-items: center;
    padding-left: 10px;
    padding-right: 18px;
    border: none;
    cursor: pointer;
}

.dropdown__icon{

    width: 14px;

}

.navMainMenu{
    background: white;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 135px auto;
    align-items: center;

}
.epicLogo{
    font-family: $font_sanspro_semibold;
    color: $text;
    font-size: 36px;
    text-align: center;
}

.courseName{
    font-family: $font_sanspro_semibold;
    color: $text;
    font-size: 20px;
    text-align: center;
}


.innerMenu{
    display: flex;
    column-gap: 18px;
    justify-self: right;
    align-items: center;
    padding-right: 26px;
}

.pages {
    display: flex;
}

.pageName {
    font-family: $font_sanspro_bold;
    color: $text;
    font-size: 15px;
    text-align: center;
}

ul{
    list-style-type: none;

    li {
        display: inline-block;
        margin: 0 14px;
    }
}
a:link {
    text-decoration: none;
}

a.middle
{
    position: relative;
}

a.middle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #6EB3CB;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.separator{
    border-left: solid 2px $text_secondary;
    width: 0;
    height: 24px;
}


.userName{
    font-family: $font_sanspro_bold;
    color: $text;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.profile__icon{
    width: 32px;
    height: 32px;
}

.toggleButton{
    position: relative;
    width: 162px;
    height: 32px;
    border-radius: 25px;

}

.switch{
    position: relative;
    display: inline-block;
    width: 162px;
    height: 32px;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B3D7E5;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 77px;
    left: 2px;
    bottom: 2px;
    top: 2px;
    background-color: #6EB3CB;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked + .slider {
    background-color: #F9C99F;
}

input:focus + .slider {
    box-shadow: 0 0 1px #F9C99F;
}

input:checked + .slider:before {

    transform: translateX(81px);
    background-color: #F28F38;
}

.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 25px;
}

.links{
    position: absolute;
    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 35px;
    padding-left: 10px;
    top: 0px;
    height: 100%;
    width: 100%;
    align-items: center;
    pointer-events: none;


}

.linkActive{
    font-family: $font_lack;
    color: white;
    font-size: 12px;
    transition: .4s;

}

.linkNotActive{
    font-family: $font_lack;
    color: $text_secondary;
    font-size: 12px;


}