@import "fonts";
%row {
  height: 42px;
  width: 100%;
  display: grid;
  align-items: center;
  border-radius: 5px;
  grid-template-columns: min-content min-content repeat(4,1fr min-content);
}
.row--header {
  @extend %row;
  background: none;
}
.row--even {
  @extend %row;
  background: $background;
}
.row--odd {
  @extend %row;
  background: white;
}
%row_cell {
   margin: 0 12px;
}
%row_tag {
  text-align: center;
  text-transform: uppercase;
  font-family: $font_sanspro_semibold;
  font-size: 14px;
  background: white;
  border-radius: 5px;
  width: 77px;
  height: 22px;
  line-height: 22px;
}
.row__cell--title {
  @extend %row_cell;
  font-family: $font_lack;
  font-size: 20px;
  color:$text;
  text-decoration-style: solid;
}
.row__cell--warning {
  @extend %row_cell;
  @extend %row_tag;
  color:$orange_strong;
  border: solid 1px $orange_strong;
}
.row__cell--info {
  @extend %row_tag;
  @extend %row_cell;
  color:$green_strong;
  border: solid 1px $green_strong;

}
.row__cell--danger {
  @extend %row_tag;
  @extend %row_cell;
  color:$red_strong;
  border: solid 1px $red_strong;
}
.row__cell--text {
  @extend %row_cell;
  font-family: $font_sanspro;
  font-size: 16px;
  color:$text;
}
.row__cell--checkbox {
  @extend %row_cell;
}
.row__cellSeparator {
  border-right: solid 2px $light_grey;
  height: 100%;
  opacity: 50%;
}