/**
 * @author Erikas Nakonecnikovas
 */
@import 'colors';
@import 'fonts';

/**
 The scss file is responsible for all styling that occurs in the main body
 containing all of the tasks. A grid display is used to format the information
 presented to the user by frontend.
 */

.tasks-list {
  width: 100%;
}

.task-row-main{
  display: grid;
  margin-top: 30px;
  margin-bottom: 30px;
}

.task-row-subtask{
  margin-bottom: 30px;
  margin-left: 50px;
  margin-top: 30px;
  border-left: 2px solid $text_secondary;
}

.taskContent{
  display: grid;
  border-radius: 5px;
  background: white;
  margin-bottom: 10px;
  padding: 20px;
  grid-template-columns: auto 180px 300px;
}