@import 'colors';
@import 'fonts';

.task-row-main{
  display: grid;
  //background: $light_grey; //will need to be background
  margin-top: 30px;
  margin-bottom: 30px;
}

.task-row-subtask{
  //background: $background;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-top: 30px;
  border-left: 2px solid $text_secondary;
}

.task-body{
  display: grid;
  border-radius: 5px;
  background: white;
  margin-bottom: 10px;
  padding: 20px;
  grid-template-columns: auto 180px 300px;
}