/**
 * @author Erikas Nakonecnikovas
 */
@import 'colors';
@import 'fonts';

/**
 The scss file is responsible for all styling that occurs in the task title
 component of the main task component.
 */

.task-title{
  margin-left: 20px;
  font-family: $font_sanspro;
  font-size: 18px;
  color: $text;
  border: 0;
  padding: 5px;
}
/* will occur when component is clicked */
.task-title:focus{
  border: 1px solid $text;
  border-radius: 15px;
  background-image: url("../imgs/ArrowR.svg");
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 25px;
  background-size: 8px;
}

.task-title-checkbox-input{
  margin-right: 5px;
}