/**
 * @author Erikas Nakonecnikovas
 */
@import 'colors';
@import 'fonts';

/**
 The scss file is responsible for all styling that occurs in the task description
 component of the main task component.
 */

.task-desc{
  margin-left: 20px;
  margin-top: 5px;
  font-family: $font_sanspro;
  color: $text_secondary;
  border: 0;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 5px;
}
/* will occur when component is clicked */
.task-desc:focus{
  border: 1px solid $text_secondary;
  border-radius: 5px;
}