@import "colors";
@import "fonts";

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: $background;
  justify-content: center;
}

.flex-item-half {
  justify-content: center;
  background-color: #FFFFFF;
  width: 45%;
  padding: 10px;
  margin: 15px;
  text-align: center;
  border-radius: 15px;
  font-family: $font_sanspro_bold;
}

.flex-item-half-stat {
  justify-content: center;
  background-color: #FFFFFF;
  width: 45%;
  padding: 10px;
  margin: 15px;
  text-align: center;
  border-radius: 15px;
  //line-height: 75px !important;
  font-size: 35px !important;
  font-family: $font_sanspro_bold;
}

.flex-item-full {
  background-color: #FFFFFF;
  width: 95%;
  padding: 5px;
  margin: 15px;
  text-align: center;
  border-radius: 15px;
}