@import "colors";

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: $background;
  justify-content: center;
}

.flex-item-half {
  justify-content: center;
  background-color: #FFFFFF;
  width: 45%;
  padding: 10px;
  margin: 15px;
  text-align: center;
  border-radius: 15px;
}

.flex-item-full {
  background-color: #FFFFFF;
  width: 95%;
  padding: 5px;
  margin: 15px;
  text-align: center;
  border-radius: 15px;
}