.dashboard {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  row-gap: 125px;
  padding-bottom: 125px;
}
.dashboard__courseCards {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  flex-wrap: wrap;
}

.navwidth{
  width: 100%;
}